body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("./img/fundo-ctt.avif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 3em; 
    margin-bottom: 30px; 
    color: #ffc107; 
    text-shadow: 2px 2px 3px #000;
}

p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px; 
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #a52a2a; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button[type="submit"]:hover {
    background-color: #800000;
}
  
ul.redes-sociais {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

ul.redes-sociais li {
    display: inline-block;
    margin: 0 10px;
}

ul.redes-sociais a {
    display: inline-block;
    padding: 10px;
    border-radius: 5%;
    background-color: #800000;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

ul.redes-sociais a:hover {
    background-color: #ddd;
}
  
.btn.whatsapp {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
  
.btn.whatsapp:hover {
    background-color: #128c7e;
}
  
.btn.whatsapp i {
    margin-right: 5px;
}
  
img {
    height: 20px;
}
  
#wp {
    height: 40px;
}

h2 {
    font-size: 2em;
    margin-top: 30px;
    color: #ffc107;
    text-shadow: 2px 2px 3px #000;
}